* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
    width: 100vw;
}
/* fonts */
@font-face {
  font-family: quickSand;
  src: url(../fonts/Quicksand-VariableFont_wght.ttf);
}
.btn {
  background: transparent;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 500;

  text-transform: uppercase;
  border: solid 2px white;
  padding: 0.7em 2em;
  border-radius: 2em;
  margin:.5em;
  cursor: pointer;
  transition: 0.5s;
}
.btn:hover {
  background: white;
  color: #1c57e1;
}
.btn-fill {
  background: #1c57e1;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 500;

  text-transform: uppercase;
  border: solid 2px #1c57e1;
  padding: 0.7em 2em;
  border-radius: 2em;
  margin:.5em;
  cursor: pointer;
  transition: 0.5s;
}
.btn-fill:hover {
  opacity: 0.8;
}
.wrapperInput input {
  border: none;
  background: none;
  outline: none;
  font-size: 1em;
  font-family: quickSand;
  width: 100%;
  text-transform: capitalize;
}

.wrapperInput{
    display: flex;
    position: relative;
    background: #dededec3;
    border-radius: 2em;
    padding: 1em;
    margin: 1em 0;
    
}
.wrapperInput img{
    width: 1.5em;
    margin-right: 1em; 
}