
section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: white;
  flex-direction: column;
}
.container {
  position: relative;
  min-width: 1100px;
  min-height: 550px;
  display: flex;
  z-index: 1000;
}
.container .contactInfo {
  position: absolute;
  top: 40px;
  width: 350px;
  height: calc(100% - 80px);
  background: #1c57e1;
  z-index: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.15);
}
.container .contactInfo h2 {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
}
.container .contactInfo ul.info {
  position: relative;
  margin: 20px 0;
}
.container .contactInfo ul.info li {
  position: relative;
  list-style: none;
  display: flex;
  margin: 20px 0;
  cursor: pointer;
  align-items: flex-start;
}
.container .contactInfo ul.info li span:nth-child(1) {
  width: 30px;
  min-width: 30px;
}
.container .contactInfo ul.info li span img {
  max-width: 100%;
}
.container .contactInfo ul.info li span:nth-child(2) {
  color: #fff;
  margin-left: 10px;
  font-weight: 300;
}
.container .contactInfo ul.sci {
  position: relative;
  display: flex;
}
.container .contactInfo ul.sci li {
  list-style: none;
  margin-right: 15px;
}
.container .contactInfo ul.sci li a {
  list-style: none;
}
.container .contactInfo ul.sci li a img {
  width: 100%;
}
.container .contactForm {
  position: absolute;
  padding: 70px 50px;
  padding-left: 250px;
  margin-left: 150px;
  width: calc(100% - 150px);
  height: 100%;
  background: #fff;
  box-shadow: 0 50px 50px rgba(0, 0, 0, 0.25);
}
.container .contactForm h2 {
  color: #0f3959;
  font-size: 24px;
  font-weight: 500;
}
.container .contactForm .formBox {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 30px;
}
.container .contactForm .formBox .inputBox {
  position: relative;
  margin: 0 0 35px 0;
}
.container .contactForm .formBox .inputBox.w50 {
  width: 47%;
}
.container .contactForm .formBox .inputBox.w100 {
  width: 100%;
}
.container .contactForm .formBox .inputBox input,
.container .contactForm .formBox .inputBox textarea {
  width: 100%;
  resize: none;
  padding: 5px 0;
  font-size: 18px;
  font-weight: 300;
  color: #333;
  border: none;
  outline: none;
  border-bottom: 1px solid #777;
}
.container .contactForm .formBox .inputBox textarea {
  min-height: 120px;
}
.container .contactForm .formBox .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  pointer-events: none;
  font-size: 18px;
  font-weight: 300;
  transition: 0.3s;
}
.container .contactForm .formBox .inputBox input:focus ~ span,
.container .contactForm .formBox .inputBox input:valid ~ span,
.container .contactForm .formBox .inputBox textarea:focus ~ span,
.container .contactForm .formBox .inputBox textarea:valid ~ span {
  transform: translateY(-20px);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #1c57e1;
  font-weight: 500;
}
.container .contactForm .formBox .inputBox input[type="submit"] {
  position: relative;
  cursor: pointer;
  background: #1c57e1;
  color: #fff;
  border: none;
  max-width: 150px;
  padding: 12px;
}
.container .contactForm .formBox .inputBox input[type="submit"]:hover {
  background: #0d948b;
}

@media (max-width: 1200px) {
  .container {
    max-width: 90%;
    min-width: auto;
    margin: 20px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
  }
  .container .contactInfo {
    position: relative;
    top: 0;
    height: 550px;
    box-shadow: none;
  }
  .container .contactForm {
    position: relative;
    width: calc(100% - 350px);
    height: 550px;
    padding-left: 0;
    margin-left: 0;
    padding: 40px;
    box-shadow: none;
  }
}

@media (max-width: 991px) {
  section {
    background: white;
  }
  .container {
    display: flex;
    flex-direction: column-reverse;
  }
  .container .contactInfo {
    width: 100%;
    height: auto;
    flex-direction: row;
  }
  .container .contactInfo ul.sci {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container .contactForm {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .container .contactForm {
    height: auto;
    padding: 25px;
  }
  .container .contactForm .formBox .inputBox.w50 {
    width: 100%;
  }
  .container .contactInfo {
    flex-direction: column;
    align-items: flex-start;
    padding: 25px;
  }
  .container .contactInfo ul.sci {
    margin-top: 40px;
  }
}
.contactus::before {
  content: "";
  position: absolute;

  width: 150%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3CradialGradient id=%22c%22 r=%22100%25%22 cx=%2250%25%22 cy=%2290%25%22%3E%3Cstop offset=%220%25%22 stop-color=%22%238BC6EC%22%2F%3E%3Cstop offset=%22100%25%22 stop-color=%22%239599E2%22%2F%3E%3C%2FradialGradient%3E%3CclipPath id=%22b%22%3E%3Cpath fill=%22currentColor%22 d=%22M890 650q-32 150-179.5 177.5T441 834q-122-21-204-114.5t-75-217Q169 379 229 257T436.5 79q147.5-56 252 59.5t169 238.5Q922 500 890 650Z%22%2F%3E%3C%2FclipPath%3E%3Cfilter id=%22a%22 x=%22-50vw%22 y=%22-50vh%22 width=%22100vw%22 height=%22100vh%22%3E%3CfeFlood flood-color=%22%23fff%22 result=%22neutral-gray%22%2F%3E%3CfeTurbulence type=%22fractalNoise%22 baseFrequency=%222.5%22 numOctaves=%22100%22 stitchTiles=%22stitch%22 result=%22noise%22%2F%3E%3CfeColorMatrix in=%22noise%22 type=%22saturate%22 values=%220%22 result=%22destaturatedNoise%22%2F%3E%3CfeComponentTransfer in=%22desaturatedNoise%22 result=%22theNoise%22%3E%3CfeFuncA type=%22table%22 tableValues=%220 0 0.5 0%22%2F%3E%3C%2FfeComponentTransfer%3E%3CfeBlend in=%22SourceGraphic%22 in2=%22theNoise%22 mode=%22soft-light%22 result=%22noisy-image%22%2F%3E%3C%2Ffilter%3E%3C%2Fdefs%3E%3Cg filter=%22url(%23a)%22 clip-path=%22url(%23b)%22%3E%3Cpath fill=%22url(%23c)%22 d=%22M890 650q-32 150-179.5 177.5T441 834q-122-21-204-114.5t-75-217Q169 379 229 257T436.5 79q147.5-56 252 59.5t169 238.5Q922 500 890 650Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");

  top: 0;
  left: 0;
  transform: translate(-50%);
  z-index: 1;
  opacity: 0.1;
}
